<!--
 This file was created on October 15th, 2016
 by Deborah Venuti and Bethany Sanders

 Last updated on: October 15th, 2016
 Updated by: Deborah Venuti
-->
{% extends 'main/base.html' %}
{% load static %}

<!-- begin body content block -->
{% block content %}
    <div class="container">
        <div class="row row-centered">    
            <div class="col-md-3 col-centered"></div>
            <div class="col-md-6 col-centered" align="center">
                <h1>404</h1>
                <h3>The page you were looking for could not be found.</h3>
            </div>
            <div class="col-md-3 col-centered"></div>
        </div>
    </div>
{% endblock %}
<!-- end body content block -->

<!-- begin script  block -->
    {% block javascript %}
    {% endblock %}
<!-- end script block -->
