<!--
 This file was created on October 15th, 2016
 by Deborah Venuti and Bethany Sanders.

 Last updated on: October 15th, 2016
 Updated by: Deborah Venuti
-->
{% load static %}
<html>
    <head>
        {% if title %}
        <title> Stegasaurus | {{ title }} </title>
        {% else %}
        <title> Stegasaurus </title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}" /> 
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.css' %}" />
    </head>
    <body>
    {% if user.is_authenticated %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Stegasaurus</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li {% if request.path == "/" %}class="active"{% endif %}><a href="/">Home</a></li>
                        <li {% if request.path == "/about" %}class="active"{% endif %}><a href="/about">About</a></li>
                        <li {% if request.path == "/#" %}class="active"{% endif %}><a href="#">Encrypt</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="/profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>
                             <ul class="dropdown-menu" role="menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="#">Archive</a></li>
                                <li><a href="#">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="signout">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% else %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Stegasaurus</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li {% if request.path == "/" %}class="active"{% endif %}><a href="/">Home</a></li>
                        <li {% if request.path == "/about" %}class="active"{% endif %}><a href="/about">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li {% if request.path == "/signin" %}class="active"{% endif %}><a href="/signin">Sign In</a></li>
                        <li {% if request.path == "/register" %}class="active"{% endif %}><a href="/register">Register</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endif %}
        <div class="container">
            <!-- begin body content block -->
                {% block content %}
                {% endblock %}
            <!-- end body content block -->
        </div>
    <!-- begin script  block -->
        {% block javascript %}
        {% endblock %}
    <!-- end script block -->
    </body>
</html>
