 <!--
 This file was created on November 3rd, 2016
 by Alexander Sumner

 Last updated on: November 7, 2016
 Updated by: Alexander Sumner
-->
{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<header id="top" class="header">
    <div class="inner cover">
        <div class="col-md-3 col-centered"></div>
            <div class="col-md-12 col-centered well">
                <div class="text-center">
                     <h2>Decrypt Here</h2>
                     <button class="btn btn-primary" onclick="show('id1');"> Decrypt File</button>
                     <button class="btn btn-primary" onclick="show('id2');"> Decrypt Text</button>
                </div>
                </br>
                <p>
                    <div id="id1"  style="display:none">
                        <form enctype="multipart/form-data" method="post">
                            <div class="form-container">
                                {%  csrf_token %}
                                {{ image_decrypt_form.as_p }}
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn btn-primary" value="Submit"/>
                            </div>
                        </form>
                    </div>
                    <div id="id2"  style="display:none">
                        <div class="form-container">
                            <label>Decrypted Text:</label>
                            <p>{{ text_decrypt_form.message }}</p>
                        </div>
                        <form enctype="multipart/form-data" method="post">
                            <div class="form-container">
                                {%  csrf_token %}
                                {{ text_decrypt_form.as_p }}
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn btn-primary" value="Submit"/>
                            </div>
                        </form>  
                    </div>
                </p>
            </div>
        </div>
    </div>
</header>
{% endblock %}
<!-- end body content block -->

<!-- begin script  block -->
    {% block javascript %}
    <script type="text/javascript">
    function show(elementId) {
     document.getElementById("id1").style.display="none";
     document.getElementById("id2").style.display="none";
     document.getElementById(elementId).style.display="block";
    }
    </script>
    {% endblock %}
<!-- end script block -->

