<!--
 This file was created on October 28th, 2016
 by Deborah Venuti

 Last updated on: November 3, 2016
 Updated by: Alexander Sumner
-->
{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
				 <div class="text-center">
					 <h2>Encrypt Here</h2>
           <button class="btn btn-primary profile-buttons" onclick="show('id1');"> Encrypt File</button>
					 <button class="btn btn-primary profile-buttons" onclick="show('id2');"> Encrypt Text</button>
					 <p>
					 	<div id="id1"  style="display:none">
              {%if documents%}
                <ul>
                  {% for document in documents %}
                    <li><a href="{{ document.image.url }}">{{ document.image }}</a></li>
                  {% endfor %}
                </ul>
              {% else %}
                  <p>No documents.</p>
              {% endif %}
              <form enctype="multipart/form-data" method="post">
                  {%  csrf_token %}
                  {{ multiple_data_form.as_p }}
                  <input type="submit" value="Submit"/>
              </form>
						</div>
					 	<div id="id2"  style="display:none">
              <form enctype="multipart/form-data" method="post">
                  {%  csrf_token %}
                  {{ text_form.as_p }}
                  <input type="submit" value="Submit"/>
              </form>  
            </div>
					 </p>
				 </div>
    	 </div>
		</div>
	</div>
</div>
{% endblock %}
<!-- end body content block -->

<!-- begin script  block -->
    {% block javascript %}
    <script type="text/javascript">
    function show(elementId) {
     document.getElementById("id1").style.display="none";
     document.getElementById("id2").style.display="none";
     document.getElementById(elementId).style.display="block";
    }
    </script>
    {% endblock %}
<!-- end script block -->
