<!--
 This file was created on October 15th, 2016
 by Deborah Venuti and Bethany Sanders

 Last updated on: October 15th, 2016
 Updated by: Deborah Venuti
-->
{% extends 'main/base.html' %}
{% load static %}

<!-- begin body content block -->
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
				 <div class="text-center">
					 <h2>{{ user.first_name }} {{user.last_name}}</h2>
					 <button class="btn btn-primary" onclick="show('id1');"> Details </button>
					 <button class="btn btn-primary" onclick="show('id2');"> Archive </button>
					 <button class="btn btn-primary" onclick="show('id3');"> Settings </button>

					 <p>
					 	<div id="id1"  style="display:none">
							<h4>Account Email:	{{user.email}}</h4>
						</div>
					 	<div id="id2"  style="display:none">
							<table class="table table-striped table-hover ">
							  <thead>
							    <tr> 
							      <th>Processing Date</th>
							      <th>Job Name</th>
							      <th>Action</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <td>Column content</td>
							      <td>Column content</td>
							      <td>Column content</td>
							    </tr>
							    <tr>
							      <td>Column content</td>
							      <td>Column content</td>
							      <td>Column content</td>
							    </tr>
							    <tr>
							      <td>Column content</td>
							      <td>Column content</td>
							      <td>Column content</td>
							    </tr>
							    <tr>
							      <td>Column content</td>
							      <td>Column content</td>
							      <td>Column content</td>
							    </tr>
							    <tr>
							      <td>Column content</td>
							      <td>Column content</td>
							      <td>Column content</td>
							    </tr>
							  </tbody>
							</table> 
					 	</div>
					 	<div id="id3"  style="display:none">text 3</div>
					 </p>
				 </div>
    	 </div>
		</div>
	</div>
</div>
{% endblock %}
<!-- end body content block -->
<!-- begin script  block -->
    {% block javascript %}
		<script type="text/javascript">
		function show(elementId) {
		 document.getElementById("id1").style.display="none";
		 document.getElementById("id2").style.display="none";
		 document.getElementById("id3").style.display="none";
		 document.getElementById(elementId).style.display="block";
		}
		</script>
    {% endblock %}
<!-- end script block -->
