<!--
 This file was created on October 19th, 2016
 by Deborah Venuti

 Last updated on: November 19th, 2016
 Updated by: Deborah Venuti
-->
{% extends 'main/base.html' %}
{% load static %}

<!-- begin body content block -->
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
				 <div class="text-center">
					 <h2>Settings</h2>
					 
				 </div>
    	 </div>
		</div>
	</div>
</div>
{% endblock %}
<!-- end body content block -->
<!-- begin script  block -->
    {% block javascript %}

    {% endblock %}
<!-- end script block -->
