{% extends 'main/base.html' %}
{% load static %}

<!-- begin body content block -->
{% block content %}
    <div class="container">
        <div class="row row-centered">    
            <div class="col-md-3 col-centered"></div>
            <div class="col-md-6 col-centered" align="center">
                <div class="aform">
                    <form role='form' action='' method='post'>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="submit-container">
                            <input class="button" type="submit" value="Sign In" />
                        </div>
                    </form>
                </div>
                <a href="/register/"> New user? Click here to register. </a> 
            </div>
            <div class="col-md-3 col-centered"></div>
        </div>
    </div>
{% endblock %}
<!-- end body content block -->
